[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
tab_width = 4

# noinspection EditorConfigKeyCorrectness
[{*.kt, *.kts}]
disabled_rules = no-wildcard-imports,import-ordering
